title: "트위터 영상 다운로드 - 트위터닷넷"
description: "트위터(X) 영상 다운로드, 인스타그램 릴스 저장을 가장 빠르고 간편하게. 트위터닷넷에서 URL만 붙여넣으면 끝!"
url: ""
baseurl: ""
theme: minima
lang: ko
plugins:
  - jekyll-seo-tag
  - jekyll-sitemap

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
    values:
      layout: "default"
